/* suppress CssUnresolvedCustomProperty */
.goBack {
    width: 1.5rem;
    border-radius: 24px;
    border: 0px solid;
}

nav.sidebar {
    position: fixed;
    height: 99%;
    overflow-y: auto;
    padding-bottom: 0rem;
}

.nav-link {
    padding: 9px 0;

}

.nav {
    --padding-x: 1vw;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    scrollbar-width: none;;
}

.special {
    --size: 1rem;
    width: var(--size);
    height: var(--size);
}

li {
    list-style: none;
}

ul {
    padding-left: 0rem;
}

@media screen and (min-width: 1399px) {
    :root {
        --height: calc(134 - (70 * 135) / 100);
    }
}


@media screen and (max-width: 1399px) {
    :root {
        --height: calc(134 - (50 * 135) / 100);
    }
}

::-webkit-scrollbar {
    display: none;
}
