<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NexusCommunication</title>
    <link rel="stylesheet" href="~/lib/Font Awesome/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/style.css" />
    
</head>
<body>
@* <partial name="admin/nav_admin"/> *@
<partial name="nav/admin"/>
    @RenderBody()
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/script.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
